.side{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:100%;
  grid-template-areas:
  "g2-1 g2-2";
  height:1000px;
}
.grid1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.grid2 {
  background-color:white;
  grid-area:g2-2;
}
.side{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:100%;
  grid-template-areas:
  "g2-1 g2-2";
  height:1000px;
}
.grid1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.grid2 {
  background-color:white;
  grid-area:g2-2;
}
.side{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:25% 75%;
  grid-template-areas:
  "g2-1 g2-3"
  "g2-1 g2-2"
  ;
  height:750px;
}
.grid1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.grid2 {
  background-color:white;
  grid-area:g2-2;
  padding-left: 30px;
  padding-top: 30px;
  padding: 50px;
  padding-bottom: 30px;
}
.grid3 {
  display: flex;
  background-color: #2AB8A7;
  grid-area:g2-3;
  justify-content: center;
  align-items: center;
}
.words {
  margin-top: 100px;
  text-align: left;
  margin-left: 110px;
}
a{
    text-decoration-style: none;
    color: white;
}
.Word1 {
  color: white;
}
.Word2 {
  color: #40E6D3;
}
.side1{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:25% 75%;
  grid-template-areas:
  "g2-4 g2-6"
  "g2-4 g2-5"
  ;
  height:750px;
}
.grid4 {
  background-color:#2a3132;
  grid-area:g2-4;
  text-align: center;
  color: white;
}
.grid5 {
  background-color:#004466;
  grid-area:g2-5;
  padding-top: 30px;
  padding: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}
.grid6 {
  display: flex;
  background-color: #00334d;
  grid-area:g2-6;
  justify-content: center;
  align-items: center;
}
.CV {
  display:grid;grid-template-columns:40% 60%;
  grid-template-areas:
  "g3-1 g3-2"
  ;
}
.C1 {
  background-color: white;
  grid-area: g3-1;
  height: 100%;
}
.C3 {
  background-color: black;
  grid-area: g3-2;
  height: 100%;
}
.s1{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:25% 75%;
  grid-template-areas:
  "g2-1 g2-3"
  "g2-1 g2-2"
  ;
  height:750px;
}
.g1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.g2 {
  background-color:white;
  grid-area:g2-2;
  padding-left: 30px;
  padding-top: 30px;
  padding: 50px;
  padding-bottom: 30px;
}
