* {
  margin: 0;
  padding: 0;
}
.side{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:100%;
  grid-template-areas:
  "g2-1 g2-2";
  height:1000px;
}
.grid1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.grid2 {
  background-color:white;
  grid-area:g2-2;
}
.side{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:100%;
  grid-template-areas:
  "g2-1 g2-2";
  height:1000px;
}
.grid1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.grid2 {
  background-color:white;
  grid-area:g2-2;
}
.side{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:25% 75%;
  grid-template-areas:
  "g2-1 g2-3"
  "g2-1 g2-2"
  ;
  height:750px;
}
.grid1 {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
.grid2 {
  background-color:white;
  grid-area:g2-2;
  padding-left: 30px;
  padding-top: 30px;
  padding: 50px;
  padding-bottom: 30px;
}
.grid3 {
  display: flex;
  background-color: #2AB8A7;
  grid-area:g2-3;
  justify-content: center;
  align-items: center;
}
.words {
  margin-top: 100px;
  text-align: left;
  margin-left: 110px;
}
a{
    text-decoration-style: none;
    color: white;
}
.Word1 {
  color: white;
}
.Word2 {
  color: #40E6D3;
}
.side1{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:25% 75%;
  grid-template-areas:
  "g2-4 g2-6"
  "g2-4 g2-5"
  ;
  height:750px;
}
.menu1 {
  background-color:#2a3132;
  grid-area:g2-4;
  text-align: center;
  color: white;
}
.grid5 {
  background-color:#004466;
  grid-area:g2-5;
  padding-top: 30px;
  padding: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}
.grid6 {
  display: flex;
  background-color: #00334d;
  grid-area:g2-6;
  justify-content: center;
  align-items: center;
}

.CV-container {
  display: flex;
}

.white-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  height: 100vh;
  width: 50%;
}

.black-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 50%;
  height: 100vh;
}

.inner-white {
  background-color: black;
  height: 80%;
  width: 80%;
}

.inner-black {
  background-color: white;
  height: 80%;
  width: 80%;
}

/*
.white-left {
  background-color: white;
  grid-area: g3-1;
  height: 100%;
}
.inner-white {
  background-color: black;
  grid-area: g3-2;
  height: 100%;
}
.black-left {
  background-color: white;
  grid-area: g3-1;
  height: 100%;
}
.inner-black {
  background-color: black;
  grid-area: g3-2;
  height: 100%;
} */
.s1{
  display:grid;grid-template-columns:20% 80%;
  grid-template-rows:25% 75%;
  grid-template-areas:
  "g2-1 g2-3"
  "g2-1 g2-2"
  ;
  height:750px;
}
.menu {
  background-color:#003366;
  grid-area:g2-1;
  text-align: center;
  color: white;
}
